<h1> <%= @cat.name %> </h1>

<table>
  <tr>
    <th>Birthday</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td> <%= @cat.birth_date %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.description %> </td>
  </tr>
</table>

<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% @cat.cat_rental_requests.sort_by { |req| req.start_date }.each do |req| %>
    <tr>
      <td><%= req.start_date.to_s %></td>
      <td><%= req.end_date.to_s %></td>
    </tr>
  <% end %>
</table>
